.hour-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.hour-forecast p {
  margin: 0;
  font-size: 14px;
}

.hour-details-link {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.hour-details-link:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(64, 111, 153, 0.5);
  border-radius: 15px;
}
