.other-details {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: "Assistant", sans-serif;
  font-weight: 300;
}

.other-details .col-a {
  width: 50px;
  box-sizing: border-box;
  text-align: center;
}

.other-details .col-a .icon {
  font-size: 20px;
}

.other-details .col-b p {
  margin: 0;
}

.other-details .col-b .name {
  font-size: 10px;
}

.other-details .col-b .value {
  font-size: 18px;
}
